{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"style="background-color: #e3f2fd;">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Ecu-Paquetes</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <p class="lead">La empresa aduanera ECU-PAQUETES necesita administrar la logística de los paquetes que llegan a 
la sucursal, por lo que solicita que se desarrolle una aplicación que permita gestionar la recepción y 
entrega de los paquetes.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

</div>
{% endblock %}
