{% extends 'base.html.twig' %}

{% block title %}Lista de Cursos{% endblock %}

{% block body %}
<div class="align-center">
<div class="card" style="width: 18rem;">
  <img src="https://vilmanunez.com/wp-content/uploads/2016/03/herramientas-y-recursos-para-crear-curso-online.png" class="card-img-top" alt="imagen del curso">
  <div class="card-body">
    <h5 class="card-title">Curso de Desarrollo WEB</h5>
    <p class="card-text">Breve descripción del contenido del curso.</p>
    <a href="#" class="btn btn-primary">Ver Contenido</a>
  </div>
</div>
</div>
{% endblock %}
